
<div class="page-wrapper">
<!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand w-auto pe-5 ms-4" href="#">Florist's Shop</a>
  
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
  
<app-search></app-search>

        </div>
    </div>
  </nav>
  <!-- END OF NAVBAR -->
 

<div class="page-container row">

 <!--SIDEBAR-->
 <div class="col-2">
 <app-categories-list></app-categories-list>
</div>
<!--END OF SIDEBAR-->
<div class="col">
<!-- <app-product-list></app-product-list> -->
<router-outlet></router-outlet>
</div>
<!-- MAIN CONTENT -->

</div>
</div>
<!-- END OF MAIN CONTENT -->
