

body {
  margin: 0;
}
.page-wrapper {

  display: flex;


}
.main-nav {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  position: fixed;
  flex-direction: row;
background-color: gray;
}

.main-nav_logo-container {
  min-width: 3rem;
  min-height: 3rem;
  margin: 0.5rem;
  display: flex;

}

#main-nav_logo {
  width: 100%;
  height: 100%;
}


.shopping-cart {
  width: 15%;
  min-width: 8rem;
  height: 80%;
  border: solid 1px black;
  display: flex;
  margin-left: auto;
  margin-right: 1rem;


}
.shopping-cart_details{
  width: 60%;
  height: 80%;
  background-color: wheat;
  margin:auto 0 auto 2%;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.shopping-cart_details span{
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  padding:0 0.2rem;
}

#shopping-cart-img {
  width: 15%;
  height: 60%;

  margin:auto 2% auto 0;

}
.content{
  display: flex;
  flex-direction: row;
  margin-top: 5rem;

}
.content__sidebar{
  width: 10%;
  max-width: 13rem;
  min-width: 10rem;
}
.content__products{
  min-width: 50rem;
  width: 100%;
}
.sidebar {
  width: 100%;
  height: 100%;
  left: 0;
}

