<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="author" content="Adam Grzeszczak">
    <title>Florists Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.scss">
</head>
<body>

<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand w-auto pe-5 ms-4" href="#">Florist's Shop</a>

        <div class="collapse navbar-collapse col-xs-4" id="navbarSupportedContent">

            <form class="d-flex w-50">
                <input class="form-control ms-5 " type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success ms-3 w-25" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!--END OF NAVBAR-->

<!--SIDEBAR-->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 200px; height: 100vh;">
    <a  class="link-dark text-decoration-none mx-auto">

        <span class="fs-4">Categories</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item mb-2 ">
            <a href="#" class="btn btn-outline-primary" aria-current="page">
                Wreaths and bouquets
            </a>
        </li>
        <li class="nav-item mb-2 ">
            <a href="#" class="btn btn-outline-primary w-100">
                Dashboard
            </a>
        </li>
        <li class="nav-item mb-2 ">
            <a href="#" class="btn btn-outline-primary w-100">
                Orders
            </a>
        </li>
        <li class="nav-item mb-2 ">
            <a href="#" class="btn btn-outline-primary w-100">
                Products
            </a>
        </li>
        <li class="nav-item mb-2 ">
            <a href="#" class="btn btn-outline-primary w-100">
                Customers
            </a>
        </li>
    </ul>
</div>
<!--END OF SIDEBAR-->


</body>
</html>