.btn{
  background-color: #4b9641;
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border:2px solid green;

}
.btn:hover,
.btn:active{
border-color: white;
  font-weight: bold;

}

.sidebar-content__title {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}
