<aside class="sidebar">
<div class="sidebar-content">
        <span class="sidebar-content__title">Categories</span>
    <hr>
    <ul class="nav nav-pills flex-column ">
      <li  class="category-item m-1">
        <a routerLink="/allproducts" routerLinkActive="active-link" class="btn w-100" aria-current="page">
All products
        </a>
      </li>
        <li *ngFor="let category of categories" class="category-item m-1">
            <a routerLink="/category/{{category.id}}" routerLinkActive="active-link" class="btn w-100" aria-current="page">
                {{category.name}}
            </a>
        </li>
    </ul>
</div>
</aside>
