
    <div class="main-content">



<div class="product-row">
            <div *ngFor="let product of products" class="product-box">
              <div class="product-info">

                <a routerLink="/products/{{product.id}}">
                  <img src="{{product.imageUrl}}" class="img-responsive" alt="{{product.name}}_{{product.id}}">
                </a>
                <a routerLink="/products/{{product.id}}">
                  <h1 >{{product.name}}</h1>
                </a>
                <div class="price">{{product.unitPrice |currency: 'EUR'}}</div>
                <button (click)="addToCart(product)" class="primary-btn">
                Add to cart
                </button>
              </div>
            </div>

            <div *ngIf="products.length==0" class="alert alert-warning col-md-6 offset-md-3 text-center" role="alert">
              No products found
            </div>

</div>

      <mat-paginator id="paginator"
                     (page)="OnPageChange($event)"
                     [length]="theTotalElements"
                     [pageSize]="thePageSize"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     aria-label="Select page"
                     [showFirstLastButtons]=true>

      </mat-paginator>
    </div>

