.main-content{
  background-color: #F9F9F9;
}
.product-row {

  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.product-box {
  background-color: white;
  border-radius: 40px;
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 15rem;
  margin: 1rem;
  text-align: center;

}

.product-box img {
  margin: 0.5rem auto;
  width: 40%;
  height: 30%;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.product-info a h1 {
font-size: 1.5rem;
}

.product-info a:nth-of-type(2) {
  text-decoration: none;
  color: black;
}
.product-info .primary-btn{

  background-color: #4b9641;
  color:#F9F9F9;
  margin-bottom: 4%;
  width: 70%;
  border-radius: 9px;
  border:2px solid green;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.product-info .primary-btn:hover,
.product-info .primary-btn:active{
  border-color: white;
  font-weight: bold;
}
.product-buttons button {
  width: 45%;
  margin: 0.5%;
  align-items: flex-end;
}

#paginator{
  display: flex;
  justify-content: center;
  background-color: #F9F9F9;
}
