<div class="main-content">
  <div class="form-content">
    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
      <div class="form-section" formGroupName="customer">
        <h3>Customer</h3>
        <div class="form-group" >
          <label >First Name</label>
          <input formControlName="firstName" type="text"  >
        </div>
        <div class="form-group">
          <label >Last Name</label>
          <input formControlName="lastName" type="text" >
        </div>
        <div class="form-group">
          <label>Email</label>
          <input formControlName="email" type="email"  >
        </div>
      </div>

      <div class="form-section" formGroupName="shippingAddress">
        <h3>Shipping Address</h3>
        <div class="form-group">
          <label >Country</label>
          <select formControlName="country" (change)="getStates()">
            <option *ngFor="let country of countries" [ngValue]="country" >
              {{country.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label >State</label>
          <select formControlName="state" >
            <option *ngFor="let state of states" [ngValue]="state">
              {{state.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label >City</label>
          <input formControlName="city" type="text" >
        </div>
        <div class="form-group">
          <label >Zip Code</label>
          <input formControlName="zipCode" type="text"  >
        </div>
        <div class="form-group">
          <label >Street</label>
          <input formControlName="street" type="text"  >
        </div>

      </div>

      <div class="form-section" formGroupName="creditCard">
        <h3>Credit Card</h3>
        <div class="form-group">
          <label >Card Type</label>
          <select formControlName="cardType" >
            <option >Visa</option>
            <option >Mastercard</option>
            <option >American Express</option>
          </select>
        </div>
        <div class="form-group">
          <label >Name in Card</label>
          <input formControlName="nameOnCard" type="text"  >
        </div>
        <div class="form-group">
          <label >Card Number</label>
          <input formControlName="cardNumber" type="text"  >
        </div>
        <div class="form-group">
          <label >Security Code</label>
          <input formControlName="securityCode" type="text" >
        </div>
        <div class="form-group">
          <label >Expiration Month</label>
          <select formControlName="expMonth" >
            <option *ngFor="let month of creditCardMonths">{{month}}</option>
          </select>
        </div>
        <div class="form-group">
          <label >Expiration Year</label>
          <select formControlName="expYear" (change)="handleMonthsAndYears()">
            <option *ngFor="let year of creditCardYears">{{year}}</option>
          </select>

        </div>
      </div>
      <div class="form-section review-section">
        <h3>Review your order</h3>
        <p>Total products quantity: {{totalQuantity}}</p>
        <div *ngIf="totalPrice<30">
          <p *ngIf="totalPrice<30">Shipping: <b>{{5|currency:'EUR'}}</b></p>
          <p>Total Price: {{totalPrice|currency:'EUR'}}
            + {{5|currency:'EUR'}} =
            <b>{{(totalPrice+5)|currency:'EUR'}}</b></p>
        </div>
        <div *ngIf="totalPrice>=30">
        <p *ngIf="totalPrice>=30">Shipping <b>Free!</b></p>
          <p>Total Price: <b>{{totalPrice| currency:'EUR'}}</b></p>

        </div>


      </div>
      <button type="submit">Purchase</button>
    </form>

  </div>
</div>
